.navLink {
  display: flex;
  gap: 20px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #DCDCDC;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.link__color {
  color: #ff6347;
}

.link__colorblack {
  color: #000000;
}